<body  *ngIf="eventVisiblity!=false"
       style=" background-image: linear-gradient(lightblue, white); height: 100%; margin: 0;padding: 3%">

  <h2 style="color: #446878">Welcome, {{logedUserData.firstname}} {{logedUserData.lastname}}</h2>
  <hr>

  <div style="padding: 6%;justify-content:space-around ;display: flex;font-size: xx-large">
    <div style="text-align: center" routerLink="/editEvent">
      <img src="assets/images/ico_calendar_plus.png"/>
      <p>Events</p>
    </div>

    <div style="text-align: center" routerLink="/editEvent">
      <img src="assets/images/ico_users.png"/>
      <p>Users</p>
    </div>

    <div style="text-align: center" routerLink="/editEvent">
      <img src="assets/images/ico_users.png"/>
      <p >Events</p>
    </div>

  </div>
  <div style="padding: 6%;justify-content: space-around;display: flex;font-size: xx-large">
    <div style="text-align: center" routerLink="/editEvent">
      <img src="assets/images/ico_calendar_plus.png"/>
      <p>Events</p>
    </div>
    <div style="text-align: center" routerLink="/editEvent">
      <img src="assets/images/ico_users.png"/>
      <p>Users</p>
    </div>
    <div style="text-align: center" routerLink="/editEvent">
      <img src="assets/images/ico_users.png"/>
      <p >Events</p>
    </div>

  </div>
</body>
